@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto+Flex:opsz,wght@8..144,300&display=swap");

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Roboto Flex", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  min-height: 5rem /* 64px */;
  padding: 0 3rem;
}

.menu {
  padding: 0 1rem;
}

.btn-paper-plane {
  cursor: pointer;
}

.btn-paper-plane:hover {
  transform: scale(1.075);
  -webkit-transition: transform 0.25s ease-in-out;
}

.btn-paper-plane:active {
  transform: scale(0.8);
  -webkit-transition: transform 0.25s ease-in-out;
}

.nice-turn:hover {
  transform: rotate(1turn);
  -webkit-transition: transform 0.4s ease-in-out;
  opacity: 0.5;
}

.nice-turn:active {
  transform: scale(0.8);
  -webkit-transition: transform 0.25s ease-in-out;
}

.small-label {
  display: block;
  width: 0;
  height: 0;
}
