@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto+Flex:opsz,wght@8..144,300&display=swap");

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Roboto Flex", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  min-height: 5rem /* 64px */;
  padding: 0 3rem;
}

.menu {
  padding: 0 1rem;
  flex-wrap: nowrap !important;
}

.btn-paper-plane {
  cursor: pointer;
}

.btn-paper-plane:hover {
  transform: scale(1.075);
  -webkit-transition: transform 0.25s ease-in-out;
}

.btn-paper-plane:active {
  transform: scale(0.8);
  -webkit-transition: transform 0.25s ease-in-out;
}

.nice-turn:hover {
  transform: rotate(1turn);
  -webkit-transition: transform 0.4s ease-in-out;
  opacity: 0.5;
}

.nice-turn:active {
  transform: scale(0.8);
  -webkit-transition: transform 0.25s ease-in-out;
}

.small-label {
  display: block;
  width: 0;
  height: 0;
}

.drawer-toggle:checked ~ .drawer-side > .drawer-overlay {
  background-color: #0002 !important;
}

.shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 32em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
